
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5">
    <a href="/" class="navbar-brand d-flex align-items-center">
        <h1 class="m-0">Bike Accessories Sales</h1>
    </a>
    <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="/" class="nav-item nav-link ">Home</a>
            <a href="/about" class="nav-item nav-link">About</a>
            <a href="/products" class="nav-item nav-link active">Products</a>

            {{#if isLogin}}
            <form action="/logout" class="nav-item nav-link text-danger" method="post">
                <input value="Logout" type="submit" style="border: 0ch;color:red;background-color:white;">
            </form>
            {{else }}
            <a href="/login" class="nav-item nav-link">Login / Sign up</a>
            {{/if}}
            <a href="/cart" class="nav-item nav-link"><i class="fa fa-shopping-cart"></i></a>
            {{#if isLogin}}
            <a href="/profile" class="nav-item nav-link"><i class="fa fa-user-circle"></i></a>
            {{/if}}
        </div>
    </div>
</nav>





<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 ">
            <div class="card " style="background-color: rgb(176, 171, 171);">
                <div class="row ">
                    <div class="col-md-6 ">
                        <div class="images p-3 ">
                            <div class="text-center p-4"> <img id="main-image"
                                    src="../../Public/img/uploaded-images/{{productName.image}}" width="250" /> </div>
                            <div class="thumbnail text-center"> <img onclick="change_image(this)"
                                    src="../../Public/img/uploaded-images/{{productName.images.[0]}}" width="70">  <img onclick="change_image(this)"
                                    src="../../Public/img/uploaded-images/{{productName.images.[1]}}" width="70">  <img onclick="change_image(this)"
                                    src="../../Public/img/uploaded-images/{{productName.images.[2]}}" width="70"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center"> <i class="fa fa-long-arrow-left"></i> <a
                                        href="/products"><span class="ml-1">Back</span> </a></div>
                                {{!-- <i class="fa fa-shopping-cart text-muted"></i> --}}
                            </div>
                            <div class="mt-4 mb-3"> <span
                                    class="text-uppercase text-muted brand">{{productName.category}}</span>
                                <h5 class="text-uppercase">{{productName.name}}</h5>
                                <div class="price d-flex flex-row align-items-center"> <span
                                        class="act-price">₹{{productName.rate}}</span>

                                    {{!-- <div class="ml-2"> <small class="dis-price">$59</small> <span>40% OFF</span>
                                    </div> --}}
                                </div>

                                <div>
                                    <span class="text-dark">{{productName.unit}}</span>
                                </div>
                            </div>

                            <p class="about">{{productName.description}}</p>
                            {{!-- <div class="sizes mt-5">
                                <h6 class="text-uppercase">Size</h6> <label class="radio"> <input type="radio"
                                        name="size" value="S" checked> <span>S</span> </label> <label class="radio">
                                    <input type="radio" name="size" value="M"> <span>M</span> </label> <label
                                    class="radio"> <input type="radio" name="size" value="L"> <span>L</span> </label>
                                <label class="radio"> <input type="radio" name="size" value="XL"> <span>XL</span>
                                </label> <label class="radio"> <input type="radio" name="size" value="XXL">
                                    <span>XXL</span> </label>
                            </div> --}}
                            
                            <div class="cart mt-4 align-items-center"> 
                                {{#if productName.inCart}}
                                <a href='/cart' class="btn btn-danger text-uppercase mr-2 px-4 shadow">Go to Cart </a> 
                                {{else if productName.quantity}}
                                <a href='/addto-cart?id={{productName._id}}' class="btn btn-danger text-uppercase mr-2 px-4 shadow">Add to cart</a> 
                                {{else}}
                                <h4 class="text-danger" style="font-family: serif;">This product is out of stock</h4>
                                {{/if}}
                             </div>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-color: #e7dea7
    }

    .card {
        border: none
    }

    .product {
        background-color: #eee
    }

    .brand {
        font-size: 13px
    }

    .act-price {
        color: red;
        font-weight: 700
    }

    .dis-price {
        text-decoration: line-through
    }

    .about {
        font-size: 14px
    }

    .color {
        margin-bottom: 10px
    }

    label.radio {
        cursor: pointer
    }

    label.radio input {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        pointer-events: none
    }

    label.radio span {
        padding: 2px 9px;
        border: 2px solid #ff0000;
        display: inline-block;
        color: #ff0000;
        border-radius: 3px;
        text-transform: uppercase
    }

    label.radio input:checked+span {
        border-color: #ff0000;
        background-color: #ff0000;
        color: #fff
    }

    .btn-danger {
        background-color: #ff0000 !important;
        border-color: #ff0000 !important
    }

    .btn-danger:hover {
        background-color: #da0606 !important;
        border-color: #da0606 !important
    }

    .btn-danger:focus {
        box-shadow: none
    }

    .cart i {
        margin-right: 10px
    }
</style>
<script>
    function change_image(image) {
        console.log('--hi')
        var container = document.getElementById("main-image");
        container.src = image.src;
    }
    document.addEventListener("DOMContentLoaded", function (event) {
    });


    




    
</script>