<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



<body style="background-color: rgb(197, 205, 212);">
     


    
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5">
        <a href="/" class="navbar-brand d-flex align-items-center">
            <h1 class="m-0">Bike Accessories Sales</h1>
        </a>
        <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="/" class="nav-item nav-link ">Home</a>
                <a href="/about" class="nav-item nav-link">About</a>
                <a href="/products" class="nav-item nav-link">Products</a>

                {{#if isLogin}}
                <form action="/logout" class="nav-item nav-link text-danger" method="post">
                    <input value="Logout" type="submit" style="border: 0ch;color:red;background-color:white;">
                </form>
                {{else }}
                <a href="/login" class="nav-item nav-link">Login / Sign up</a>
                {{/if}}
                <a href="/cart" class="nav-item nav-link"><i class="fa fa-shopping-cart"></i></a>
                {{#if isLogin}}
                <a href="/profile" class="nav-item nav-link active"><i class="fa fa-user-circle"></i></a>
                {{/if}}
            </div>
        </div>
    </nav>
    


    <div class="container emp-profile shadow-md">
        {{!-- <form action='/edit-profile'> --}}
            <div class="row">
                <div class="col-md-4">
                    <div >   {{!--class="profile-img"--}}
                        <img style="height: 130px;width: 130px;"
                            src="https://img.freepik.com/free-psd/3d-illustration-person-with-glasses_23-2149436190.jpg?w=740&t=st=1676487809~exp=1676488409~hmac=8169a45dee64e4dd8e8669f1324fc96aee30c4d9d09289cafb8793f6e25ac6f1"
                            alt="" />

                        {{!-- <div class="file btn btn-lg btn-primary">
                            Change Photo
                            <input type="file" name="file" />
                        </div> --}}
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="profile-head">
                        <h5>
                            {{loginData.name}}
                        </h5>
                        {{!-- <h6>
                            Web Developer and Designer
                        </h6> --}}
                        {{!-- <p class="proile-rating">RANKINGS : <span>8/10</span></p> --}}
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                    aria-controls="home" aria-selected="true">About</a>
                            </li>

                            
                            {{!-- <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                    aria-controls="profile" aria-selected="false">Timeline</a>
                            </li> --}}
                        </ul>
                    </div>
                </div>

                <div class="col-md-3">
                    <a href="/edit-profile"><input type="submit" class="profile-edit-btn mb-3 shadow" name="btnAddMore"
                            value="Edit Profile" /></a>

                    <a href="/address-management"><input type="submit" class="profile-edit-btn mb-3 shadow"
                            name="btnAddMore" value="Manage Address" /></a>

                    <a href="/password-reset"><input type="submit" class="profile-edit-btn mb-3 shadow"
                            name="btnAddMore" value="Reset Password" /></a>

                    {{!-- <a href="/add-address"><input type="submit" class="profile-edit-btn mb-3 shadow" name="btnAddMore"
                            value="Add addresss" /></a> --}}

                    <a href="/my-oders"><input type="submit" class="profile-edit-btn  shadow" name="btnAddMore"
                            value="My Orders" /></a>
                </div>
            </div>
            <div class="row">
                {{!-- <div class="col-md-4">
                    <div class="profile-work">
                        <p>WORK LINK</p>
                        <a href="">Website Link</a><br />
                        <a href="">Bootsnipp Profile</a><br />
                        <a href="">Bootply Profile</a>
                        <p>SKILLS</p>
                        <a href="">Web Designer</a><br />
                        <a href="">Web Developer</a><br />
                        <a href="">WordPress</a><br />
                        <a href="">WooCommerce</a><br />
                        <a href="">PHP, .Net</a><br />
                    </div>
                </div> --}}
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                {{!-- <div class="col-md-6">
                                    <label>User Id</label>
                                </div> --}}
                                {{!-- <div class="col-md-6">
                                    <p>Kshiti123</p>
                                </div> --}}
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{loginData.name}}</p>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{loginData.email}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Phone</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{loginData.phone}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Adress</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{defaultAddress.address}},{{defaultAddress.pincode}}</p>
                                    <p>{{defaultAddress.place}},{{defaultAddress.state}}</p>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Experience</label>
                                </div>
                                <div class="col-md-6">
                                    <p>Expert</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Hourly Rate</label>
                                </div>
                                <div class="col-md-6">
                                    <p>10$/hr</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Total Projects</label>
                                </div>
                                <div class="col-md-6">
                                    <p>230</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>English Level</label>
                                </div>
                                <div class="col-md-6">
                                    <p>Expert</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Availability</label>
                                </div>
                                <div class="col-md-6">
                                    <p>6 months</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Your Bio</label><br />
                                    <p>Your detail description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{!--
        </form> --}}
    </div>


 

    <style>
        body {
            background: -webkit-linear-gradient(left, #8ba186, #21612f);
        }

        .emp-profile {
            padding: 3%;
            margin-top: 3%;
            margin-bottom: 3%;
            border-radius: 0.5rem;
            background: #fff;
        }

        .profile-img {
            text-align: center;
        }

        .profile-img img {
            width: 70%;
            height: 100%;
        }

        .profile-img .file {
            position: relative;
            overflow: hidden;
            margin-top: -20%;
            width: 70%;
            border: none;
            border-radius: 0;
            font-size: 15px;
            background: #212529b8;
        }

        .profile-img .file input {
            position: absolute;
            opacity: 0;
            right: 0;
            top: 0;
        }

        .profile-head h5 {
            color: #333;
        }

        .profile-head h6 {
            color: #0062cc;
        }

        .profile-edit-btn {
            border: none;
            border-radius: 1.5rem;
            width: 70%;
            padding: 2%;
            font-weight: 600;
            color: #6c757d;
            cursor: pointer;
        }

        .proile-rating {
            font-size: 12px;
            color: #818182;
            margin-top: 5%;
        }

        .proile-rating span {
            color: #495057;
            font-size: 15px;
            font-weight: 600;
        }

        .profile-head .nav-tabs {
            margin-bottom: 5%;
        }

        .profile-head .nav-tabs .nav-link {
            font-weight: 600;
            border: none;
        }

        .profile-head .nav-tabs .nav-link.active {
            border: none;
            border-bottom: 2px solid #0062cc;
        }

        .profile-work {
            padding: 14%;
            margin-top: -15%;
        }

        .profile-work p {
            font-size: 12px;
            color: #818182;
            font-weight: 600;
            margin-top: 10%;
        }

        .profile-work a {
            text-decoration: none;
            color: #495057;
            font-weight: 600;
            font-size: 14px;
        }

        .profile-work ul {
            list-style: none;
        }

        .profile-tab label {
            font-weight: 600;
        }

        .profile-tab p {
            font-weight: 600;
            color: #0062cc;
        }
    </style>